<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>

<body>
    {% load static %}
    <main id="app">
        <h1>{{ message }}</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="gstr2b-json" accept=".json">
            <input type="submit" value="Reconcile">
        </form>
    </main>
    <script src="{% static 'app/main.js' %}"></script>
</body>

</html>
